<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PDV Analysis - Web App</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style>
      {% include 'myStyle.css' %}
    </style>
  </head>
  <body>
    <div class="content">
      <h2>Photon Doppler Velocimetry Data (PDV) Analysis</h2>

      {{ plot_div|indent(8) }}

    </div>
    {{ plot_script|indent(8) }}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
